You will be provided a list of columns, their data types and some sample values along with
a little context. Your task is to generate the schema information based on the provided information.

Context: {{ context }}

Columns:
{{ columns_text }}

Please generate a schema description for each column that explains what this column represents
in the context of the provided domain knowledge.